<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Minecraft Forge Event List</title>
		<link rel="shortcut icon" href="/favicon.ico">
		{% seo %}
		<link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
		<!--[if lt IE 9]>
		<script src="/assets/external/js/html5shiv.min.js"></script>
		<![endif]-->
		<link rel="stylesheet" href="/assets/external/css/font-awesome.min.css">
		<link rel='stylesheet prefetch' href='https://netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css'>

		{% include analytics.html %}
		<!--<script data-ad-client="ca-pub-7103228011189262" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>-->
	</head>
	<body>
		<div class="headerwrapper">
			<div class="header">
				<a href="https://www.curseforge.com/members/serilum/projects"><img src="/assets/images/serilum.png"></a>
				<h1>Here you'll find an overview of all events you can subscribe to within the Forge framework. You can choose your preferred Minecraft version in the dropdown box. Useful for a quick overview, for more specific information use your IDE.</h1><br>
				<h1>Made to assist development of my mods on <a href="https://www.curseforge.com/members/serilum/projects">CurseForge</a>.</h1>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					<select name="mcversions" id="mcversions">
						<option value="onesixteen">1.16</option>
						<option value="onefifteen">1.15</option>
						<option value="onefourteen">1.14</option>
						<option value="onetwelve">1.12</option>
					</select>
					<span id="title">Forge Event List</span>
				</h3>
			</div>
			<div id="content" class="panel-body">
			</div>
		</div>  
	</body>
	<script type="text/javascript" src="/assets/external/js/jquery-3.4.1.min.js"></script>
	<script type="text/javascript" src="/assets/js/script.js"></script>
</html>