<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Minecraft Forge Event List</title>
		<meta name="description" content="Displays an overview of all events available within the Minecraft Forge Framework for each version.">
		<meta name="keywords" content="Minecraft, Forge, Events, Serilum, CurseForge, 1.12, 1.14, 1.15, 1.16">
		<meta name="author" content="Rick South">
		<link rel="shortcut icon" href="/favicon.ico">
		{% seo %}
		<link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
		<!--[if lt IE 9]>
		<script src="/assets/external/js/html5shiv.min.js"></script>
		<![endif]-->
		<link rel="stylesheet" href="/assets/external/css/font-awesome.min.css">
		<link rel='stylesheet prefetch' href='https://netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css'>

		{% include analytics.html %}
		<!--<script data-ad-client="ca-pub-7103228011189262" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>-->
	</head>
	<body>
		<div class="headerwrapper">
			<div class="header">
				<a href="https://www.curseforge.com/members/serilum/projects" target=_blank><img src="/assets/images/serilum.png"></a>
				<h1>Here you'll find an overview of all events you can subscribe to within the Forge framework. You can choose your preferred Minecraft version in the dropdown box. Useful for a quick overview, for more specific information use your IDE.</h1><br>
				<h1>Made to assist the development of my mods on <a href="https://www.curseforge.com/members/serilum/projects" target=_blank>CurseForge</a>.</h1>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					<select name="mcversions" id="mcversions">
						<option value="onesixteen">1.16</option>
						<option value="onefifteen">1.15</option>
						<option value="onefourteen">1.14</option>
						<option value="onetwelve">1.12</option>
					</select>
					<span id="title">Forge Event List</span>
				</h3>
			</div>
			<div id="content" class="panel-body">
				<h3>net.minecraft.util</h3>
				<pre>SoundEvent</pre>
				<h3>net.minecraft.util.text.event</h3>
				<pre>ClickEvent</pre>
				<pre>HoverEvent</pre>
				<h3>net.minecraftforge.client.event</h3>
				<pre>BackgroundDrawnEvent</pre>
				<pre>ClickInputEvent</pre>
				<pre>ClientChatEvent</pre>
				<pre>ClientChatReceivedEvent</pre>
				<pre>ClientPlayerNetworkEvent</pre>
				<pre>ColorHandlerEvent</pre>
				<pre>DrawHighlightEvent</pre>
				<pre>DrawScreenEvent</pre>
				<pre>DrawSelectionEvent</pre>
				<pre>EntityEvent</pre>
				<pre>EntityViewRenderEvent</pre>
				<pre>FogEvent</pre>
				<pre>FOVUpdateEvent</pre>
				<pre>GuiContainerEvent</pre>
				<pre>GuiOpenEvent</pre>
				<pre>GuiScreenEvent</pre>
				<pre>IModBusEvent</pre>
				<pre>InitGuiEvent</pre>
				<pre>InputEvent</pre>
				<pre>InputUpdateEvent</pre>
				<pre>ItemTooltipEvent</pre>
				<pre>KeyboardCharTypedEvent</pre>
				<pre>KeyboardKeyEvent</pre>
				<pre>KeyboardKeyPressedEvent</pre>
				<pre>KeyboardKeyReleasedEvent</pre>
				<pre>KeyInputEvent</pre>
				<pre>LoggedInEvent</pre>
				<pre>LoggedOutEvent</pre>
				<pre>ModelBakeEvent</pre>
				<pre>ModelRegistryEvent</pre>
				<pre>MouseClickedEvent</pre>
				<pre>MouseDragEvent</pre>
				<pre>MouseInputEvent</pre>
				<pre>MouseReleasedEvent</pre>
				<pre>MouseScrollEvent</pre>
				<pre>ParticleFactoryRegisterEvent</pre>
				<pre>PlayerEvent</pre>
				<pre>PotionShiftEvent</pre>
				<pre>RawMouseEvent</pre>
				<pre>RecipesUpdatedEvent</pre>
				<pre>RenderBlockOverlayEvent</pre>
				<pre>RenderFogEvent</pre>
				<pre>RenderGameOverlayEvent</pre>
				<pre>RenderHandEvent</pre>
				<pre>RenderItemInFrameEvent</pre>
				<pre>RenderLivingEvent</pre>
				<pre>RenderNameplateEvent</pre>
				<pre>RenderPlayerEvent</pre>
				<pre>RenderTooltipEvent</pre>
				<pre>RenderWorldLastEvent</pre>
				<pre>RespawnEvent</pre>
				<pre>ScreenshotEvent</pre>
				<pre>TextureStitchEvent</pre>
				<h3>net.minecraftforge.client.event.sound</h3>
				<pre>IModBusEvent</pre>
				<pre>PlaySoundEvent</pre>
				<pre>PlaySoundSourceEvent</pre>
				<pre>PlayStreamingSourceEvent</pre>
				<pre>SoundEvent</pre>
				<pre>SoundLoadEvent</pre>
				<pre>SoundSetupEvent</pre>
				<pre>SoundSourceEvent</pre>
				<h3>net.minecraftforge.event</h3>
				<pre>AddReloadListenerEvent</pre>
				<pre>AnvilUpdateEvent</pre>
				<pre>AttachCapabilitiesEvent</pre>
				<pre>ClientTickEvent</pre>
				<pre>CommandEvent</pre>
				<pre>DifficultyChangeEvent</pre>
				<pre>IModBusEvent</pre>
				<pre>LootTableLoadEvent</pre>
				<pre>PlayerTickEvent</pre>
				<pre>RegisterCommandsEvent</pre>
				<pre>RegistryEvent</pre>
				<pre>RenderTickEvent</pre>
				<pre>ServerChatEvent</pre>
				<pre>ServerTickEvent</pre>
				<pre>TagsUpdatedEvent</pre>
				<pre>TickEvent</pre>
				<pre>WorldTickEvent</pre>
				<h3>net.minecraftforge.event.brewing</h3>
				<pre>PlayerBrewedPotionEvent</pre>
				<pre>PlayerEvent</pre>
				<pre>PotionBrewEvent</pre>
				<h3>net.minecraftforge.event.enchanting</h3>
				<pre>EnchantmentLevelSetEvent</pre>
				<h3>net.minecraftforge.event.entity</h3>
				<pre>EntityEvent</pre>
				<pre>EntityJoinWorldEvent</pre>
				<pre>EntityLeaveWorldEvent</pre>
				<pre>EntityMobGriefingEvent</pre>
				<pre>EntityMountEvent</pre>
				<pre>EntityStruckByLightningEvent</pre>
				<pre>EntityTravelToDimensionEvent</pre>
				<pre>PlaySoundAtEntityEvent</pre>
				<pre>ProjectileImpactEvent</pre>
				<pre>SoundEvent</pre>
				<h3>net.minecraftforge.event.entity.item</h3>
				<pre>EntityEvent</pre>
				<pre>ItemEvent</pre>
				<pre>ItemExpireEvent</pre>
				<pre>ItemTossEvent</pre>
				<h3>net.minecraftforge.event.entity.living</h3>
				<pre>AnimalTameEvent</pre>
				<pre>BabyEntitySpawnEvent</pre>
				<pre>EnderTeleportEvent</pre>
				<pre>EntityEvent</pre>
				<pre>LivingAttackEvent</pre>
				<pre>LivingDamageEvent</pre>
				<pre>LivingDeathEvent</pre>
				<pre>LivingDestroyBlockEvent</pre>
				<pre>LivingDropsEvent</pre>
				<pre>LivingEntityUseItemEvent</pre>
				<pre>LivingEquipmentChangeEvent</pre>
				<pre>LivingEvent</pre>
				<pre>LivingExperienceDropEvent</pre>
				<pre>LivingFallEvent</pre>
				<pre>LivingHealEvent</pre>
				<pre>LivingHurtEvent</pre>
				<pre>LivingJumpEvent</pre>
				<pre>LivingKnockBackEvent</pre>
				<pre>LivingPackSizeEvent</pre>
				<pre>LivingSetAttackTargetEvent</pre>
				<pre>LivingSpawnEvent</pre>
				<pre>LivingUpdateEvent</pre>
				<pre>LootingLevelEvent</pre>
				<pre>PotionAddedEvent</pre>
				<pre>PotionApplicableEvent</pre>
				<pre>PotionColorCalculationEvent</pre>
				<pre>PotionEvent</pre>
				<pre>PotionExpiryEvent</pre>
				<pre>PotionRemoveEvent</pre>
				<pre>SummonAidEvent</pre>
				<pre>ZombieEvent</pre>
				<h3>net.minecraftforge.event.entity.player</h3>
				<pre>AdvancementEvent</pre>
				<pre>AnvilRepairEvent</pre>
				<pre>ArrowLooseEvent</pre>
				<pre>ArrowNockEvent</pre>
				<pre>AttackEntityEvent</pre>
				<pre>BonemealEvent</pre>
				<pre>CriticalHitEvent</pre>
				<pre>EntityItemPickupEvent</pre>
				<pre>FillBucketEvent</pre>
				<pre>ItemCraftedEvent</pre>
				<pre>ItemFishedEvent</pre>
				<pre>ItemPickupEvent</pre>
				<pre>ItemSmeltedEvent</pre>
				<pre>ItemTooltipEvent</pre>
				<pre>LivingEvent</pre>
				<pre>PlayerChangedDimensionEvent</pre>
				<pre>PlayerContainerEvent</pre>
				<pre>PlayerDestroyItemEvent</pre>
				<pre>PlayerEvent</pre>
				<pre>PlayerFlyableFallEvent</pre>
				<pre>PlayerInteractEvent</pre>
				<pre>PlayerLoggedInEvent</pre>
				<pre>PlayerLoggedOutEvent</pre>
				<pre>PlayerRespawnEvent</pre>
				<pre>PlayerSetSpawnEvent</pre>
				<pre>PlayerSleepInBedEvent</pre>
				<pre>PlayerWakeUpEvent</pre>
				<pre>PlayerXpEvent</pre>
				<pre>SleepingLocationCheckEvent</pre>
				<pre>SleepingTimeCheckEvent</pre>
				<pre>UseHoeEvent</pre>
				<h3>net.minecraftforge.event.furnace</h3>
				<pre>FurnaceFuelBurnTimeEvent</pre>
				<h3>net.minecraftforge.event.village</h3>
				<pre>VillagerTradesEvent</pre>
				<pre>VillageSiegeEvent</pre>
				<pre>WandererTradesEvent</pre>
				<h3>net.minecraftforge.event.world</h3>
				<pre>BiomeLoadingEvent</pre>
				<pre>BlockEvent</pre>
				<pre>BlockToolInteractEvent</pre>
				<pre>BreakEvent</pre>
				<pre>ChunkDataEvent</pre>
				<pre>ChunkEvent</pre>
				<pre>ChunkWatchEvent</pre>
				<pre>CreateFluidSourceEvent</pre>
				<pre>CropGrowEvent</pre>
				<pre>EntityMultiPlaceEvent</pre>
				<pre>EntityPlaceEvent</pre>
				<pre>ExplosionEvent</pre>
				<pre>FarmlandTrampleEvent</pre>
				<pre>FluidPlaceBlockEvent</pre>
				<pre>NeighborNotifyEvent</pre>
				<pre>NoteBlockEvent</pre>
				<pre>PistonEvent</pre>
				<pre>PortalSpawnEvent</pre>
				<pre>SaplingGrowTreeEvent</pre>
				<pre>SleepFinishedTimeEvent</pre>
				<pre>WorldEvent</pre>
				<h3>net.minecraftforge.fml.event.lifecycle</h3>
				<pre>FMLClientSetupEvent</pre>
				<pre>FMLCommonSetupEvent</pre>
				<pre>FMLConstructModEvent</pre>
				<pre>FMLDedicatedServerSetupEvent</pre>
				<pre>FMLFingerprintViolationEvent</pre>
				<pre>FMLLoadCompleteEvent</pre>
				<pre>FMLModIdMappingEvent</pre>
				<pre>GatherDataEvent</pre>
				<pre>IModBusEvent</pre>
				<pre>InterModEnqueueEvent</pre>
				<pre>InterModProcessEvent</pre>
				<pre>ModLifecycleEvent</pre>
				<pre>ParallelDispatchEvent</pre>
				<h3>net.minecraftforge.fml.event.server</h3>
				<pre>FMLServerAboutToStartEvent</pre>
				<pre>FMLServerStartedEvent</pre>
				<pre>FMLServerStartingEvent</pre>
				<pre>FMLServerStoppedEvent</pre>
				<pre>FMLServerStoppingEvent</pre>
				<pre>ServerLifecycleEvent</pre>
				<h3>net.minecraftforge.fml.network</h3>
				<pre>ChannelRegistrationChangeEvent</pre>
				<pre>ClientCustomPayloadEvent</pre>
				<pre>ClientCustomPayloadLoginEvent</pre>
				<pre>GatherLoginPayloadsEvent</pre>
				<pre>LoginPayloadEvent</pre>
				<pre>NetworkEvent</pre>
				<pre>ServerCustomPayloadEvent</pre>
				<pre>ServerCustomPayloadLoginEvent</pre>
			</div>
		</div>
		<div class="spacer"></div>
		<footer>
			<p class="footercontent">
				<small>© Created by <a href="https://south.fyi/" target=_blank>Rick South</a>.<br></small>
				<small>Hosted on <a href="https://pages.github.com/" target=_blank>GitHub Pages</a>, <a href="https://github.com/ricksouth/eventlistforge.com/" target=_blank>source</a>.</small>
			</p>
		</footer>
	</body>
	<script type="text/javascript" src="/assets/external/js/jquery-3.4.1.min.js"></script>
	<script type="text/javascript" src="/assets/js/script.js"></script>
</html>